<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Education @PhishFry</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../img/icon32.png">
    <style>
        .bg-cover {
            background-size: cover;
        }
        .bg-center {
            background-position: center;
        }
        .bg-black {
            background-color: rgba(0, 0, 0, 0.1);
        }
        .orange {
        background-color: #f4bc55;
        }
    </style>
</head>
<body>

    <header class="bg-gray-700 text-white body-font shadow w-full">
        <div class="container mx-auto flex flex-wrap p-3 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
                <img src="../../img/icon32.png" style="border-radius: 50%; object-fit: cover;">
                <span class="ml-3 text-xl">PhishFry</span>
            </a>
            <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
                <a href="#" class="mr-5 hover:text-gray-900">Home</a>
                <a href="#" class="mr-5 hover:text-gray-900">Services</a>
                <a href="#" class="mr-5 hover:text-gray-900">About</a>
                <a href="#" class="hover:text-gray-900">Contact</a>
            </nav>
            <button class="inline-flex items-center bg-blue-500 border-0 py-1 px-3 focus:outline-none hover:bg-blue-600 rounded text-base mt-4 md:mt-0">Help Centre
            </button>
        </div>
    </header>

    <!-- first section -->
    <section class="bg-black px-4 pt-4 pb-20">
        <h1 class="text-2xl font-bold pt-8 pb-10">Learn how to spot phishing</h1>
        <div class="container mx-auto">
            <div class="flex overflow-x-auto">
                <!-- Embed Video 1 -->
                <div class="flex-none w-full sm:w-auto">
                    <iframe width="400" height="225" src="https://www.youtube.com/embed/THZpzRRfvs0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="font-bold text-center break-words px-2" style="width: 400px;">Spot Signs of Phishing - Marketing Video 1</div>
                </div>
                <!-- Embed Video 2 -->
                <div class="flex-none w-full sm:w-auto ml-4">
                    <iframe width="400" height="225" src="https://www.youtube.com/embed/G5jai-HnM8g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="font-bold text-center break-words px-2" style="width: 400px;">Spot Signs of Phishing - Marketing Video 2</div>
                </div>
                <!-- Embed Video 3 -->
                <div class="flex-none w-full sm:w-auto ml-4">
                    <iframe width="400" height="225" src="https://www.youtube.com/embed/LOPz4_ryviE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="font-bold text-center break-words px-2" style="width: 400px;">I Was Scammed Of $77k - Here’s What You Need To Learn From My Story</div>
                </div>
                <!-- Embed Video 4 -->
                <div class="flex-none w-full sm:w-auto ml-4">
                    <iframe width="400" height="225" src="https://www.youtube.com/embed/qRWpvcjpQNw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="font-bold text-center break-words px-2" style="width: 400px;">Online Purchase Scam Animation</div>
                </div>
            </div>
        </div>
    </section>
    


    <!-- second section -->
    <section class="bg-gray-50 px-4 pb-20 pt-1">
        <h1 class="text-2xl font-bold pt-8">Learning using games!</h1>
        <div class="container mx-auto">
            <div class="mt-12 flex flex-wrap items-center">
                <div class="mx-auto w-full px-6 py-4 md:w-3/12 orange rounded-lg shadow-xl">
                    <h3 class="mb-4 text-xl font-bold text-blue-gray">Ready to test your knowledge?<br />Play our Kahoots!</h3>
                    <p class="text-base font-normal text-blue-gray-600 leading-relaxed">
                        Participate in interactive Kahoot games to learn and test your understanding on phishing in a fun and engaging way.
                        <br /><br />
                        Select a game and test yourself!
                    </p>
                </div>
                <div class="mx-auto mt-24 flex w-full justify-center px-4 md:w-8/12 lg:mt-0">
                    <div class="flex overflow-x-auto">
                        <!-- Embed Kahoot Game 1 -->
                        <div class="flex-none w-full sm:w-auto relative">
                            <iframe src="https://kahoot.it/challenge/?quiz-id=324aafac-e05e-4dbf-9de9-09c47825cbe2&single-player=true" frameborder="0" width="400" height="300" allowfullscreen></iframe>
                            <div class="font-bold text-center break-words px-2" style="width: 400px;">Game 1: Basic Phishing</div>
                            <!-- New Tab Icon -->
                            <a href="https://kahoot.it/challenge/?quiz-id=324aafac-e05e-4dbf-9de9-09c47825cbe2&single-player=true" target="_blank" class="absolute top-0 right-0 m-2 text-blue-500 hover:text-blue-700">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 3h7m0 0v7m0-7L10 14m4 0h7v7h-7v-7z" />
                                </svg>
                            </a>
                        </div>
                        <!-- Embed Kahoot Game 2 -->
                        <div class="flex-none w-full sm:w-auto ml-4 relative">
                            <iframe src="https://kahoot.it/challenge/?quiz-id=608f9f9f-b97d-45ae-a4e7-2094fbdf5235&single-player=true" frameborder="0" width="400" height="300" allowfullscreen></iframe>
                            <div class="font-bold text-center break-words px-2" style="width: 400px;">
                                Game 2: Can you identify phishing sites?<br />
                            </div>
                            <!-- New Tab Icon -->
                            <a href="https://kahoot.it/challenge/?quiz-id=608f9f9f-b97d-45ae-a4e7-2094fbdf5235&single-player=true" target="_blank" class="absolute top-0 right-0 m-2 text-blue-500 hover:text-blue-700">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 3h7m0 0v7m0-7L10 14m4 0h7v7h-7v-7z" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <div class="bg-blue-gray-50/50">
        <footer class="bg-gray-700 text-white p-1 text-center">
            <p>© 2024 PhishFry. All rights reserved.</p>
        </footer>
    </div>

</body>
</html>
